.sideUP {
  position: --webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #0d1117;
  z-index: 9999;
  .container {
    background-color: #0d1117;
  }
  .sideup {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 0;
    padding-top: 30px;
    margin-bottom: -15px;
    margin-left: -300px;

    &__user {
      display: flex;
      align-items: center;
      width: 300px !important;

      &-img {
        display: none;
        width: 33px;
        border-radius: 70px;
      }

      &-text {
        display: none;
        margin-left: 10px;
        margin-bottom: 0;
      }
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 0px;
      

      &--item {
        list-style-type: none;
        padding: 4px 5px;
        display: flex;
        align-items: center;
        position: relative;

        &:hover {
          background-color: #21262d;
          border-radius: 7px;
        }

        &-icon {
          font-size: 17px;
        }

        &-link {
          text-decoration: none;
          color: #e6edf3;
          font-size: 14px;
          &.active {
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 1.5px;
              background-color: #f78166;
              top: 44px;
              left: 0;
            }
            font-weight: 500;
          }
        }

        &-number {
          border-radius: 55px;
          background-color: #e6ebf0;
          font-size: 13px;
          padding: 1px 7px;
        }
      }
    }

    &-dots {
      font-size: 20px;
      display: none;
    }
  }
  .bi {
    color: white;
  }
}

.zindex {
  z-index: 9;
}
